<?xml version="1.0"?>

<launch>
  <param name="/targetdetect/camera_info_url" value="$(find service_utd)/calibration.yml" />

  <node name="drone_setpoint" pkg="service_utd" type="drone_setpoint" respawn="true" />
  
  <include file="$(find service_utd)/launch/quadrotor_empty_world.launch"/>
  
  <node name="tf2posestamped" pkg="service_utd" type="tf2posestamped" respawn="true" />

  <param name="/targetdetect/color" value="0 0 255" type="str" />  
  <node name="targetdetector" pkg="service_utd" type="targetdetector" respawn="true" >
    <remap from="image" to="/downward_cam/camera/image" />
  </node>
  
  <node name="joy_node" pkg="joy" type="joy_node" respawn="true"/>
  
  <node name="drone_joystick" pkg="service_utd" type="joy2drone.py" respawn="true" />
  
  <param name="/waypoints/x" value="-2 2 2 -2 -2 2" />
  <param name="/waypoints/y" value="1.5 1.5 0 0 -1.5 -1.5" />
  <param name="/waypoints/z" value="2 2 2 2 2 2" />
  <param name="/waypointNav" value="false" type="bool" />
  <node name="infocontroller" pkg="service_utd" type="infocontroller" respawn="true" output="screen"/>
</launch>
