<?xml version="1.0"?>

<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(find service_utd)/worlds/service.world"/>
		<arg name="headless" value="true" />
		<arg name="gui" value="true" />
	</include>

	<group ns="target">
		<param name="robot_description"
			command="$(find xacro)/xacro.py '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />
			<arg name="x" value="5.0" />
			<arg name="y" value="5.0" />
			<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
				respawn="false" output="screen" args="-urdf -model p3dx -x 26.8 -y 20 -param robot_description" />
				<param name="mapname" value="$(find service_utd)/matlabmap.yml" />
				<node name="rover_controller" pkg="service_utd" type="rover_controller" output="screen" />
				<rosparam param="ugs/x">[26.8,27.96,34.04,20.24,25.71,11.29]</rosparam>
				<rosparam param="ugs/y">[24,20.08,26.11,22.30,28.31,7.51]</rosparam>
				<param name="detection_radius" value="1" />
				<param name="comm_radius" value="2" />
				<param name="alpha" value="0.95" />
				<param name="beta" value="0.01" />
				<rosparam param="UAVconnectivity">[1]</rosparam>
				<node name="groundsensors" pkg="service_utd" type="groundsensors" output="screen" />
			</group>


			<group ns="uav1">
				<param name="targetdetect/camera_info_url" value="$(find service_utd)/calibration.yml" />

				<rosparam param="drone_setpoint/gains">[0.4,0.4,0.8,0.8,0.8,1.2,0.8]</rosparam>
				<node name="drone_setpoint" pkg="service_utd" type="drone_setpoint" respawn="true" />

				<arg name="model" default="$(find service_utd)/urdf/quadrotor_downward_cam.gazebo.xacro"/>

				<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
					<arg name="model" value="$(arg model)" />
					<arg name="x" value="0.0" />
					<arg name="y" value="0.0" />
				</include>

				<node name="tf2posestamped" pkg="service_utd" type="tf2posestamped" respawn="true" />

				<param name="targetdetect/color" value="0 0 255" type="str" />
				<param name="targetdetect/targetsize" value="0.5" />
				<node name="targetdetector" pkg="service_utd" type="targetdetector" respawn="true" >
					<remap from="image" to="downward_cam/camera/image" />
				</node>

				<node name="joy_node" pkg="joy" type="joy_node" respawn="true"/>

				<node name="drone_joystick" pkg="service_utd" type="joy2drone.py" respawn="true" />

				<param name="waypoints/x" value="-2 2 2 -2 -2 2" />
				<param name="waypoints/y" value="1.5 1.5 0 0 -1.5 -1.5" />
				<param name="waypoints/z" value="2 2 2 2 2 2" />
				<param name="waypointNav" value="false" type="bool" />
				<param name="alpha" value="0.95" />
				<param name="beta" value="0.01" />
				<param name="mapname" value="$(find service_utd)/matlabmap.yml" />
				<rosparam param="UAVconnectivity">[]</rosparam>
				<param name="base_altitude" value="4" />
				<param name="batchsimulation" value="false" />
				<node name="pathplanner" pkg="service_utd" type="pathplanner" output="screen" required="true"/>
			</group>

		</launch>
